
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}     

header {
  position: relative;
  z-index: 999;
  overflow: hidden;
}


.navbar {
  background: transparent !important;
  transition: 0.5s;
}

.navbar.scrolled {
  background: #161922 !important;
  transition: 0.5s;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color:#FECC72;
  font-weight: 600;
}

.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.show:hover,
.navbar-light .navbar-nav .show > .nav-link:hover {
  color: #FECC72;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: #000;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #FECC72
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: #FECC72;
  font-size: 2.5rem;
  font-weight: 700;
}

.home{
  width: 100%;
  height: 100vh;
  background-color: #191D28;
  display: flex;
  justify-content: center;
  align-items: center;  
  overflow: hidden;
  margin-bottom: 0px;
  border-bottom: 1px solid #161922;
}
.home_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:left;
  align-items:center;
}
.home_content{
  margin-top: 50px;
}
.heading_sm{
  font-weight: 400;
  color: #FECC72;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;

}
.home_content  .heading_sm::before{
  content: '';
  width: 20%;
  height: 1px;
  color: #FECC72;
  position: absolute;
}
.heading_lg{
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
.heading_md{
  font-weight: 500;
  color: #fff;
  font-size: 40px;
}
.home span{
  color: #FECC72;
}
.home p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.img_home{
  width: 320px;
  z-index: 2;
  position: relative;
  margin-right: 36px;
}
.blob{
  width: 360px;
  position: absolute;
    top: 189px;
    right: 16px;
    z-index: 1;
}
.img_container{
  margin-top: 150px;
}
.img_div{
  display: flex;
  align-items: end;
  justify-content: end;
}
.btn {
  background-color: #FECC72;
  color: #000;
  /* border-radius: 10px; */
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 20px;
  transition: 0.65s;
  font-family: 'Open Sans', sans-serif;
}

.btn:hover {
  background: #fff;
  color: #000;
}
/* about */
.about{
  width: 100%;
  height: 100vh;
  background-color: #161922;
  margin-bottom: 0px;
}
.image_about{
  height: 480px;
  width: 480px;
}
.content_about{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.about_sm{
  font-weight: 500;
  color: #FECC72;
  font-size: 20px;
}
.about p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.about span{
  color: #FECC72;

}
/* service */
.service{
  width: 100%;
  background-color: #191D28;
  padding: 80px 0;
 
}
.service_heading{
  font-weight: 600;
  color: #FECC72;
  font-size: 30px;
  text-align: left;
}
.service_para{
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.service span{
  color: #FECC72;
}

.service_para{
  padding-top: 15px;
  width: 60%;
}
 .service_container{
  padding: 20px 0px; 
} 
.content_services{
  background-color: #161922;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  height: 200px;
}
.service h3{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.service p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.service_icons{
  font-size: 35px;
  text-align: left;
  line-height: 64px;
  color: #FECC72;
}
.tailwind_img{
  width: 35px;
  text-align: left;
  margin:15px 0px;
}
.ps_img{
  width: 35px;
  text-align: left;
  margin:15px 0px;
}
.service h3:hover{
  color: #FECC72;
}
/* portfolio */

.portfolio{
  width: 100%;
  background-color: #161922;
  padding: 80px 0;
}
.portfolio_heading{
  font-weight: 600;
  color: #FECC72;
  font-size: 30px;
  text-align: left;
}
.portfolio_para{
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding: 20px 0px;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
}
.portfolio_container button{
  color: #fff;
}
.portfolio_container button:hover{
  color: #FECC72;
}
.portfolio_img{
  width: 100%;
}
.user-interface{
  margin: 20px 0px;
}
.portfolioContainer{
  padding: 50px 0px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #000;
  background-color: #fecc72;
}
.contact{
  width: 100%;
  background-color: #191D28;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.contact_heading{
  font-weight: 600;
  color: #FECC72;
  font-size: 30px;
  text-align: left;
}
.contact_para{
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding: 20px 0px;
  font-family: 'Open Sans', sans-serif;
}
.contact-para{
  display: flex;
  justify-content: center;
}
.contact_container{
  display: flex;
  justify-content:left;
  /* align-items: center; */
  flex-direction: column;
}
/* .contact_title{
  display: flex;
  flex-direction: column;
  
} */

 .contact_iconsection{
  display: flex;
  margin: 10px 0px;
  align-items: left;

}
.icon_contact{
  margin-right: 25px;
}
.contact_icons{
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #FECC72;
  border-radius: 100%;
  color: #FECC72;
  background-color: transparent;
}
.contact_iconsection:hover .contact_icons{
  background-color: #FECC72;
  color: #000;
} 
.email{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);


}
.phone{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);

}
.icon_social{
  font-size: 18px;
  color: #000;
  padding: 5px 10px;
  background-color: #FECC72;
  border-radius: 5px;
  margin-right: 5px;
  transition: 0.2s ease;
}

.social_media{
  margin-top: 25px;
}
.form_control{
  color: #FECC72;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  transition:box-shadow .15s ease-in-out;

}
.inputbox{
  border-bottom: 1px solid #FECC72 !important;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
  background-color: transparent;
  transition:ease-in-out
}
footer{
  width: 100%;
  background-color: #161922;
  margin-bottom: 0px;
}
.footer_div{
  text-align: center;
  padding: 40px;
  color: rgba(255, 255, 255, 0.8); ;
}
footer span{
  color: #FECC72;
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (max-width: 992px) {
  .navbar-light .navbar-toggler {
    background: #FECC72;
    border-radius: 0;
  }
  .banner {
    min-height: 100vh;
    padding: 100px 0;
  }
  .contentBox h1 {
    font-size: 3rem;
  }
  
  .btnD1 {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50px;
  padding: 10px 35px;
  font-size: 1rem;
  outline: none;
  font-weight: 500;
  margin-top: 20px;
  transition: 0.65s;
}
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

}

@media(max-width:1200px){
  .heading_sm{
    font-weight: 400;
    font-size: 20px;
  }
  .heading_lg{
    font-weight: 700;
    font-size: 51px;
  }
  .heading_md{
    font-weight: 500;
    font-size: 35px;
  }
  .home p{
    font-size: 16px;
  }
  .img_home{
    width: 300px;
    z-index: 2;
    position: relative;
    margin-right: 40px;
  }
  .blob{
    width: 318px;
    position: absolute;
    top: 218px;
    right: 29px;
    z-index: 1;
  }
  .btn {
    /* border-radius: 10px; */
    padding: 8px 16px;
    font-size: 14px;
    outline: none;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 20px;
    transition: 0.65s;
  }
  

  .image_about{
    height: 425px;
    width: 425px;
  }

  .about_sm{
    font-weight: 500;
    color: #FECC72;
    font-size: 20px;
  }
  .about p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  .about span{
    color: #FECC72;
  
  }
}

@media(max-width:992px){

  .navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  font-size: 28px;
  font-weight: 700;
}

.home{
  height: auto;
}


  .home_content{
    margin-top: 50px;
  }
  .heading_sm{
    font-weight: 400;
    font-size: 16px;
  
  }
  .heading_lg{
    font-weight: 700;
    font-size: 25px;
  }
  .heading_md{
    font-weight: 500;
    color: #fff;
    font-size: 21px;
  }
  .home p{
    font-size: 14px;
  }
  .img_home{
    width: 235px;
    margin-right: 40px;
  }
  .blob{
    width: 296px;
    top: 203px;
    right: 0px;
  }
  .img_container{
    margin-top: 150px;
  }
  .btn {
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 12px;
    margin-right: 16px;
    transition: 0.65s;
  }


  .about{
    height: auto;
    padding: 40px;
  }
  .image_about{
    height: 380px;
    width: 380px;
    margin-bottom: 20px;
  }
  .about_sm{
    font-weight: 500;
    color: #FECC72;
    font-size: 16px;
  }
  .about p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  .about span{
    color: #FECC72;
  
  }

  .contact{
    width: 100%;
    background-color: #191D28;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;  
  }
  .contact_heading{
    font-weight: 600;
    font-size: 30px;
    text-align: left;
  }
  .contact_para{
    font-size: 16px;
    padding: 20px 0px;
  }
  .form_container{
    margin-top: 80px;
  }

}

@media(max-width:768px){

  .navbar-light .navbar-brand,
  .navbar-light .navbar-brand:hover {
    font-size: 28px;
    font-weight: 700;
  }

  .home_container{
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .home_content{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .heading_sm{
    font-weight: 400;
    color: #FECC72;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
  
  }
  .heading_lg{
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-size:34px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
  }
  .heading_md{
    font-weight: 500;
    color: #fff;
    font-size: 25px;
  }
  .home span{
    color: #FECC72;
  }
  .home p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  .img_home{
    width:200px;
    z-index: 2;
    position: relative;
  }
  .blob{
    width: 250px;
    position: absolute;
    top: 187px;
    right: 85px;
      z-index: 1;
  }
  .img_container{
    margin-top: 150px;
  }
  .about_image{
    padding-bottom: 30px;
  }
  .img_div{
    display: flex;
    align-items:center;
    justify-content:center;
  }
  .btn {
    padding: 8px 16px;
    font-size: 12px;
    outline: none; 
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: 0.65s;
  }
  
  .btn:hover {
    background: #fff;
    color: #000;
  }


  .about{
    height: auto;
    padding: 50px 0px;
  }
  .image_about{
    height: 290px;
    width: 290px;
  }
  .content_about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .about_sm{
    font-weight: 500;
    font-size: 18px;
  }
  .about p{
    font-size: 14px;
  }


  .service{
    width: 100%;
    background-color: #191D28;
    padding: 50px 0;
   
  }

  .service_heading{
    font-weight: 600;
    font-size: 26px;
    text-align: left;
  }
  .service_para{
    font-size: 14px;
  }
  
  .service_para{
    padding-top: 15px;
    width: 100%;
  }
   .service_container{
    padding: 10px 0px; 
  } 
  .content_services{
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    height: 200px;
  }
  .service h3{
    font-size: 18px;
    font-weight: 500;
  }
  .service p{
    font-size: 14px;
  }

  .portfolio{
    width: 100%;
    padding: 50px 0;
  }
  .portfolio_heading{
    font-size: 28px;
  }
  .portfolio_para{
    font-size: 14px;
    padding: 20px 0px;
    width: 100%;
  }
  .nav{
    display: flex;
    justify-content: center;
  }
  .portfolio_img{
    width: 100%;
  }
  .user-interface{
    margin: 20px 0px;
  }
  .portfolioContainer{
    padding: 50px 0px;
  }

  .contact{
    padding: 50px 0;  
  }
  .contact_heading{
    font-size: 28px;
  }
  .contact_para{
    font-size: 14px;
    padding: 20px 0px;
  }
  
   .contact_iconsection{
    display: flex;
    margin: 10px 0px;
  
  }
  .icon_contact{
    margin: 0px 24px;
  }
  .contact_icons{
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
  }

  
  .icon_social:hover{
    background-color: transparent;
    color: #FECC72;
  }
  .social_media{
    margin-top: 25px;
  }
  footer{
    width: 100%;
    background-color: #161922;
  }
  .footer_div{
    text-align: center;
    padding: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
  }
  footer span{
    color: #FECC72;
  }
  
}